
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,600;1,400&family=Prompt:ital,wght@0,400;0,600;1,900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}
body{
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  width: 350px;
  margin: 30px auto;
}